<h1>Editing product item1</h1>

<%= render "form", product_item1: @product_item1 %>

<br>

<div>
  <%= link_to "Show this product item1", @product_item1 %> |
  <%= link_to "Back to product item1s", product_item1s_path %>
</div>
