<h1>Editing employee r</h1>

<%= render "form", employee_r: @employee_r %>

<br>

<div>
  <%= link_to "Show this employee r", @employee_r %> |
  <%= link_to "Back to employee rs", employee_rs_path %>
</div>
