<p style="color: green"><%= notice %></p>

<h1>Employee rs</h1>

<div id="employee_rs">
  <% @employee_rs.each do |employee_r| %>
    <%= render employee_r %>
    <p>
      <%= link_to "Show this employee r", employee_r %>
    </p>
  <% end %>
</div>

<%= link_to "New employee r", new_employee_r_path %>
